@charset "UTF-8";

/*폰트설정*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Montserrat:wght@700&family=Montserrat:wght@600&family=Montserrat:wght@500;600&family=Henny+Penny&family=Noto+Sans+KR&family=Yantramanav:wght@300;400;500;700&family=Yrsa:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
html {
  font-size: 2.962962963vw;
}

body {
  font-size: 0.7407407407vw;
}

@font-face {
  font-family: "KOTRALEAP";
  src: "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2" format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OTWelcomeBA";
  src: "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2" format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "establishRoomNo703OTF";
  src: "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff" format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MICEGothic Bold";
  src: "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothicBold.woff2" format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spoqa-bold";
  src: "../fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Bold.ttf" format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spoqa-medium";
  src: "../fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Medium.ttf" format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Yrsa";
}

.headerWrap {
  background-color: rgba(0, 0, 0, 0.4901960784);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.headerWrap header {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  font-style: italic;
  font-family: "Yrsa";
  line-height: calc(min(1rem, 40px) * 2);
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
}
.headerWrap header h1 {
  font-size: calc(min(1em, 10px) * 3.3);
  font-weight: 600;
}
.headerWrap header nav {
  display: flex;
  justify-content: space-between;
}
.headerWrap header nav h4 {
  margin-left: 20px;
  font-size: calc(min(1em, 10px) * 2.3);
}

.mainWrap {
  background: url(../image/room.png) repeat-y 50% 50%;
  z-index: 150;
  background-size: cover;
  background-attachment: fixed;
}
.mainWrap main {
  width: 80%;
  max-width: 1080px;
  height: 980px;
  margin: 0 auto;
  padding-top: calc(min(1rem, 40px) * 7);
  color: #fff;
  position: relative;
}
.mainWrap main .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mainWrap main .text h2 {
  font-size: calc(min(1em, 10px) * 5);
}
.mainWrap main .text p {
  font-size: calc(min(1em, 10px) * 3);
  width: 33.3333333333%;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 auto;
}

.profileWrap {
  background: #242d34;
}
.profileWrap .profile {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: calc(min(1rem, 40px) * 3);
}

.profile img {
  width: 25%;
  margin-top: calc(min(1rem, 40px) * 2);
}

.profile .text {
  width: 100px;
  height: 100px;
  background: #fc0;
  
}/*# sourceMappingURL=master.css.map */